<h2>Customer Information</h2>
    <div class="bill-info">
        <div class="item">
            <p><b>Invoice Number:</b> {{ invoiceno }}</p>
            <p><b>Bill Date:</b> {{ billdate }}</p>
        </div>
        <div class="item">
            <p><b>Customer Name:</b> {{ name }}</p>
            <p><b>Customer Contact:</b> {{ contact }}</p>
        </div>
    </div>

    <h2>Appointment Detail</h2>
    <div calss="table">
    <table style="width:100%">
        <thead>
            <tr>
                <th>Appointment Date</th> 
                <th>Slot</th> 
                <th>Department</th> 
                <th>Doctor</th>
                <th>Fees</th>
            </tr>
        </thead>
        <tbody>
            
                <tr >
                    <td>{{ date }}</td> 
                    <td>{{ time }}</td>
                    <td>{{ department }}</td>
                    <td>{{ doctorname}}</td>
                    <td>₹ {{ fees }}</td>
                </tr>
            
        </tbody>
    </table>
    </div>
    <h2>Total Amount: ₹ {{ fees }}</h2>
    <div class="item">
    <h3>Contact : 9580395130</h3>
    <h3>Address : Civil Lines,Prayagraj</h3>
</div>